@for $i from 1 through 60{
    .w#{$i}{
        width: #{$i}rem;
    }
}

.entry{
    display: inline-block;

    &-row:nth-child(2n){
        background-color: #DADADA;
    }
}

.header{
    border-bottom: 2px solid black;
    font-weight: bold;
}

.ascending::after{
    content: "▲";
}

.descending::after{
    content: "▼";
}