@for $i from 1 through 60{
    .w#{$i}{
        width: #{$i}rem;
    }
}

.entry{
    display: inline-block;
    background-color: inherit;

    &-row:nth-child(2n){
        background-color: #DADADA;
    }
}

.num{
    text-align: right;
}

.header{
    border-bottom: 2px solid black;
    font-weight: bold;

    & > .entry{
        cursor: pointer;
    }
}

.ascending::after{
    content: "\25B2"; //▲
}

.descending::after{
    content: "\25BC"; //▼
}

.tooltip{
    position: relative;
    display: inline-block;
    background-color: #A7A7A7;
    border-radius: 20px;
    padding: 0 2px;

    &::after{
        content: "\2753"; //❓
    }

    &__text{
        visibility: hidden;
        background-color: #555;
        color: white;
        padding: 0 5px;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        margin-top: 25px;
    }

    &:hover &__text{
        visibility: visible;
    }
}

h1{
    text-transform: uppercase;
}

%absolute-centered{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.flash{
    @extend %absolute-centered;
    padding: 5px;
    font-size: 2rem;
    font-weight: 900;
    animation: 5s linear flash-frames forwards;
    border-radius: 5px;

    &--error{
        background-color: red;
    }

    &--info{
        background-color: yellow;
    }

    &--success{
        background-color: green;
    }
}

@keyframes flash-frames{
    0%   { margin-top: 0; }
    80%  { margin-top: 0; }
    100% { margin-top: -300px; }
}