body {
    background: grey;
}

div {
	padding: 0 20px;
}
a {
	font: 18px 'UbuntuMedium', Arial, Helvetica, sans-serif;
}

label {
	font: 18px "Arial Black", serif;

}

input[type=text] {
    padding: 12px 20px 12px;
    display: inline-block;
    border: 1px solid #080808;
    border-radius: 6px;
    box-sizing: border-box;
	font: .8666em/16px 'UbuntuMedium', Arial, Helvetica, sans-serif;
}

.btn-submit {
    background-color: #0ead36;
    color: white;
    padding: 10px;
    font-size: 16px;
	cursor: pointer;
	border-radius: 6px;
	border: 1px solid #080808;
}
