<!DOCTYPE html>
<html>
<head>
    <title>MFCRecorder</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="all">
</head>
<body>
<div class="config">
    <a>
        <form action="/" method="post">
            <button type="submit" name="power" value="restart" class="btn-restart">Restart</button>
        </form>
    </a>
    <a class="Settings" href="/MFC/config">Settings</a>
</div>
<div class="add-model">
    <ul class="add">
        <a class="stats">Statistics:</a>
        <a><form action="." method="POST">
            <label for="Add Model">Add Model</label>
            <input type="text" name="text">
            <input class="btn-add" type="submit" name="my-form" value="Add">
        </form>
        </a>
    </ul>
</div>
<div id="statistics">
    <ul class="stats-list">
        <li>
        <h3>Uptime</h3>
        <h4>days:hours:minutes:seconds</h4>
        <h4>{{ uptime.days }}:{{ uptime.hours }}:{{ uptime.minutes }}:{{ uptime.seconds }}</h4>
        </li>
        <li>
        <h3>Free Space</h3>
        <h4>{{ freeSpace }} GB</h4>
        </li>
        <li>
        <h3>Total Downloaded (since last restart)</h3>
        <h4>{{ totalData }} GB</h4>
        <h4>Number of shows recorded: {{ fileCount }}</h4>
        </li>
    </ul>
</div>

<div id="main">
    <h1>{{ count }} models recording</h1>
    <div class="top">
        <ul class="sort">
            <li {% if sortValue == 'rc' %}class="active"{% endif %}><a href="/MFC?sort=rc">VIEWERS</a></li>
            <li {% if sortValue == 'camscore' %}class="active"{% endif %}><a href="/MFC?sort=camscore">CAMSCORE</a></li>
            <li {% if sortValue == 'creation' %}class="active"{% endif %}><a href="/MFC?sort=creation">NEWEST</a></li>
            <li {% if sortValue == 'nm' %}class="active"{% endif %}><a href="/MFC?sort=nm">NAME</a></li>
        </ul>
    </div>
    <ul class="list">
    {% for model in models %}
        <li>
        <ul class="model-top">
            {% if model.condition == "" %}
            <a title="remove {{ model.nm }} from wanted list" class="remove" href="{{ url_for('home') }}?removeUID={{ model.uid }}">remove</a>
            {% else %}
            <a title="add {{ model.nm }} to wanted list" class="add-button" href="{{ url_for('home') }}?addUID={{ model.uid }}">add</a>
            {% endif %}
            <a title="view {{ model.nm }}'s profile" class="model-name" href="{{ 'http://profiles.myfreecams.com/'+model.nm }}" rel="noreferrer">{{ model.nm }}</a>
            <a title="add {{ model.nm }} to blacklist" class="block" href="{{ url_for('home') }}?blockUID={{ model.uid }}">block</a>
        </ul>
        <a title="open {{ model.nm }}'s chatroom" href="http://www.myfreecams.com/#{{ model.nm }}">
        <img alt="{{ model.nm }}" class="png" height="250" src="{{ url_for('static', filename="avatars/")}}{{ model.uid }}.jpg" width="250">
        </a>
            <ul class="info">
                <in class="condition">
                    <h6>{% if model.condition == "" %}Wanted{% else %}{{ model.condition }}{% endif %}</h6>
                </in>
                <in class="viewers">
                    <h6>viewers: {{ model.rc }}</h6>
                </in>
        </ul>
        </li>
    {% endfor %}
    </ul>
</div>

</body>


</body>
</html>
